<div class="d-flex align-items-center justify-content-center h-100 w-100 ">

    <div class="row p-4">
        <div class="col-md-12">
            <img class="logo mb-4" src="../../../../assets/img/Logo (1).svg" alt="Logo Medicar">

        </div>
        <div class="col-md-12">
            <div class="">
                <h1><strong>:(</strong></h1>
                <h2>A página que você está procurando não existe.</h2>
            </div>
        </div>
        <div class="col-md-2">
            <button mat-flat-button color="primary" class="text-strong" (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon> Voltar
              </button>  
        </div>
    </div>
</div>