<app-menu-top></app-menu-top>



<div class="w-100 mt-4">
  <div class="container general-container">
    <div class="row w-100">

      <div class="div-title">
        <h1 class="text-strong">Consulta Clínica</h1>
        <button id="btnNewConsultation" mat-flat-button color="primary" (click)="openModalNewConsultation()">
          <mat-icon>add</mat-icon> Nova Consulta
        </button>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table-striped">

          <ng-container matColumnDef="especialidade">
            <th mat-header-cell *matHeaderCellDef> Especialidade </th>
            <td mat-cell *matCellDef="let e"> {{e.medico.especialidade.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef> Profissional </th>
            <td mat-cell *matCellDef="let e"> {{e.medico.nome}} </td>
          </ng-container>


          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let e"> {{e.dia}} </td>
          </ng-container>

          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let e"> {{e.horario}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let e">
              <button mat-icon-button color="accent" matTooltip="Editar" (click)="deleteConsultation(e.id)">
                <mat-icon style="font-weight: 600;">close</mat-icon> Desmarcar
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="isConsultationsEmpty" class="d-flex justify-content-center empty">
          {{messageEmpty}}
        </div>

      </div>
      <div class="table-footer">
        <mat-paginator [length]="consultations.length" [pageSizeOptions]="[5, 10]" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>

  </div>
</div>