#btnNewConsultation {
    height: 2.4em;
}
.div-title {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 993px) {
    .div-title {
        display: block;
        justify-content: flex-start;
    }
}

.table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    min-width: 880px;
  }
  
  .empty {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    padding-top: 5px;
  }
  