<app-menu-top></app-menu-top>



<div class="w-100 mt-4">
  <div class="container general-container">
    <div class="row w-100">

      <div class="div-title">
        <h1 class="text-strong">Consulta Clínica</h1>
        <button id="btnNewConsultation" mat-flat-button color="primary">
          <mat-icon>add</mat-icon> Nova Consulta
        </button>
      </div>
      <div class="card-auth">
        <mat-card class="mat-elevation-z0">


          <mat-card-content>

          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>
</div>