<div class="d-flex align-items-center justify-content-center h-100 w-100 ">

  <div class="card-auth">
    <mat-card class="mat-elevation-z0">

      <img class="logo mb-4" src="../../../../assets/img/Logo (1).svg" alt="Logo Medicar">
      <mat-card-content>

        <form (keyup.enter)="login()"  [formGroup]="form">
          <!-- (keyup.enter)="keyDownFunction()" -->
          <mat-form-field appearance="outline" class="full-width w-100">
            <mat-label>Email ou Login</mat-label>
            <input matInput formControlName="user" maxlength="100" required autocomplete="off">
  
            <mat-error *ngIf="controls['user'].hasError('required')">
              Usuário é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width mb-0 w-100">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" maxlength="100" required
              [type]="hidePassword ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="controls['password'].hasError('required')">
              Senha é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
          <mat-checkbox formControlName="rememberPassword" class="mb-5 mt-0 pt-0">
            Lembrar minha senha
          </mat-checkbox>
        </form>
        <div class="d-flex justify-content-between">
          <button mat-button color="primary" class="button-auth text-strong" (click)="goToSignup()" >
            Criar Conta
          </button> 
          <button mat-flat-button color="primary" class="button-auth text-strong" (click)="login()" [disabled]="!this.form.valid">
            Acessar
          </button>  
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
</div>