<div class="w-100 mt-2">
    <div class="container general-container">
        <div class="row w-100">
            <div class="col-md-6 logo-container">
                <img class="" src="../../../../assets/img/Logo (1).svg" alt="Logo Medicar">
            </div>
            <div class="col-md-3 menu-item mt-2 text-gray">
                {{username}}
            </div>
            <div class="col-md-3 menu-item mt-2 ">
                <span class="text-color-primary pointer" (click)="logout()">Desconectar</span> 
            </div>
        </div>

    </div>
</div>



