/* You can add global styles to this file, and also import other style files */

@import "./theme/color.scss";

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.text-strong {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}

.text-black {
    color: $black-gray;
}

.button-auth{
    width: 45%!important;
    min-width: unset!important;
}
.card-auth {
    max-width: 30rem;
}
.pointer {
    cursor: pointer;
}

.general-container{
    width: 70%;
}
.aguarde-spinner {
    color: $gray-primary;
}

@media (max-width: 993px) {
    .general-container {
        width: 100%;

    }
}